sudo: required

language: generic

services:
  - docker

before_install:
  - echo "start Creating an image with dockerfile"
  - cd react-app | docker build -t react-app .

script:
  - docker run -e CI=true react-app npm run test -- --coverage

after_success:
  - echo "Test Success"